.app {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: 1px solid #DEDEDE;
        margin-bottom: 16px;
    }

    &__header-logo {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
